/* styles.css */

body {
    font-family: 'Press Start 2P', monospace;
    overflow: hidden;
  }
  
  h1 {
    font-family: 'Cinzel', serif;
  }
  
  .font-title {
    font-family: 'Cinzel', serif;
  }
  
  .shadow-button {
    box-shadow: 0 0 15px #ffd84d, 0 0 30px #ff4c4c inset;
  }
  
  .bg-balatro {
    background: transparent;
  }
  
  /* Para que el canvas esté detrás de todo */
  canvas#shader-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: block;
    /*background: black;*/
  }
  